#responsive-navbar-nav {
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;

    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 25px;
    color: #797979;
}

h1 {
    color: #797979;
}